@model IEnumerable<MyTravel.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h1>歡迎光臨</h1>
        <p>這是一個可以讓你規劃旅遊的地方</p>
        <a asp-action="Trips" class="btn btn-lg btn-success">看我目前的規劃</a>
    </div>
</div>

