@{
    ViewBag.Title = "Home Page";
}

<h3>The World</h3>
<p>This will be a fun website soon!</p>

<form>
    <div>
        <label>Date</label>
        <input type="" value="" />
    </div>
    <div>
        <label>Location</label>
        <input type="" value="" />
    </div>
    <input type="submit" value="Add Location" />
</form>