@model IEnumerable<MyTravel.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/tripsController.js"></script>
}
<div class="row" ng-app="app-trips">
    <div ng-controller="tripsController as vm" class="col-sm-6 col-sm-offset-3">
        <table class="table table-responsive table-striped">
            <tr ng-repeat="trip in vm.trips">
                <td>{{ trip.name }}</td>
                <td>{{ trip.created | date: 'yyyy-MM-dd' }}</td>
                <td><a href="#" class="btn btn-sm btn-primary">Manage</a></td>
            </tr>
        </table>

        <form name="newTripForm" novalidate ng-submit="vm.addTrip()">
            <div class="form-group">
                <label class="control-label" for="name">Trip Name</label>
                <input type="text" id="name" name="name" class="form-control" ng-model="vm.newTrip.name" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success btn-sm"  />
            </div>
        </form>
    </div>

    <div>{{ "Two plus tow equals: " + (2 + 2 ) }}</div>
    <div class="col-sm-6">
        <h3>The World</h3>
        <p>This will be a fun website soon!</p>

        <form>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input type="" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input type="" value="" class="form-control" />
            </div>
            <input type="submit" value="Add Location" class="btn btn-success" />
        </form>    
    </div>
    <div class="col-sm-6">
        <h2>The Map</h2>
        <ul>
            @foreach(var item in Model)
            {
                <li>@item.Name : @item.DateCreated.ToString("d")</li>
            }
        </ul>
    </div>
</div>

